<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDistributorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57945/DistributorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDistributorService"
                contract="ServiceReference1.IDistributorService" name="BasicHttpBinding_IDistributorService" />
        </client>
    </system.serviceModel>
</configuration>